.container {
    display: flex;
    justify-content: center;
    position: relative;
    background: none;
    width: 80%;
    min-height: 500px;
    box-shadow: 0 0 0.5rem var(--bg-dark);
}

.container__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    color: var(--bg-light);
    position: relative;
    z-index: 2;
}

.container__background,
.container__background__alt,
.container__dropshadow,
.container__dropshadow__alt {
    position: absolute;
    border-radius: 0.75rem;
}

.container__background, .container__background__alt {
    opacity: 0.9;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-radius: 0.75rem;    
}

.container__background {
    background: var(--bg-primary);
    border-color: var(--bg-accent);
}

.container__background__alt {
    background: var(--bg-alt);
    border-color: var(--bg-accent-alt);
}