.header {
    background-color: #0A0D14;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navmenu {
    margin: 2vh 10vw 0 10vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.navmenu ul {
    padding: 0;
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.navmenu li {
    margin: 0 30px;
    font-size: 2em;
}

.navmenu a {
    color: white;
    text-decoration: none;
}