.container {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: none;
}

.container ul {
    padding: 0;
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.container li {
    margin: 0 30px;
    font-size: 2em;
}

.navlink {
    color: inherit;
    text-decoration: none;
}

.navlink:hover {
    color: var(--highlight);
    text-decoration: none;
}

.navlink--active {
    color: var(--highlight-alt);
    text-decoration: none;
}