.container {
    margin: 2vh 10vw 0 10vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.container ul {
    padding: 0;
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.container li {
    margin: 0 30px;
    font-size: 2em;
}

.navlink {
    color: inherit;
    text-decoration: none;
}

.navlink--active {
    color: yellow;
    text-decoration: underline;
}