.container {
    color: var(--text-dark);
    background-color: var(--bg-light);
    max-width: 200px;
    margin: 10px;
    border-radius: 0.1rem;
}

.btncontainer {
    display: flex;
    justify-content: center;
}

.infocontainer {
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    max-width: inherit;
}

.infocontainer p {
    line-height: normal;
    height: 38px;
    margin: 10px 0;
}

.name {
    margin: 5px 0;
    color: inherit;
    font-size: 1.25rem;
    text-align: center;
}

.brief {
    font-size: 1rem;
    text-align: center;
}

.projectlink {
    width: 48px;
    height: 48px;
    margin: 0 10px;
    border-radius: 70%;
    position: relative;
    border-style: none;
    transition: all 0.2s ease-in-out;
}

.projectlink img {
    width: inherit;
    height: inherit;
    transition: all 0.2s ease-in-out;
}

.projectlink:hover {
    transform: scale(1.1);
}