.container, .container__white {
    margin: 10px;
    position: relative;   
    transition: all 0.2s ease-in-out;
}

.container__white {
    margin: 10px;
    filter: invert(93%) sepia(87%) saturate(23%) hue-rotate(263deg) brightness(116%) contrast(87%);
}

.imagewrapper {
    position: relative;
    width: 96px;
    height: 96px;
}

@media only screen and (max-width: 640px) {
    .imagewrapper {
        width: 64px;
        height: 64px;
    }
}

.container:hover, .container__white:hover {
    transform: scale(1.1);
}