.container {
    width: 96px;
    height: 96px;
    margin: 10px;
    position: relative;   
    transition: all 0.2s ease-in-out;
}
.imagewrapper {
    position: relative;
    width: 96px;
    height: 96px;
}

.container:hover {
    transform: scale(1.1);
}