/* Won't even pretend I didn't borrow this from -> https://www.w3schools.com/css/css_tooltip.asp */

.container {
    position: relative;
    display: inline;
}

.container .text {
    opacity: 0;
    width: 140px;
    background-color: var(--bg-dark);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    top: 100%;
    left: 50%;
    margin-top: 5px;
    margin-left: -70px;
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.35s;
}

.container:hover .text {
    visibility: visible;
    opacity: 1;
}

.container .text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}